<ion-header [translucent]="true">
  <ion-toolbar>
    <!--<ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>-->
    <h2 class="center">Sofia Benitez</h2>
    <h2 class="center">Login del Usuario</h2>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="usuario">
  <ion-item>
    <!-- <ion-icon aria-hidden="true" name="person-circle" color="primary"></ion-icon> -->
    <ion-label class="ion-text-wrap">

        <ion-list>
          
          <ion-item> 
            <ion-input label="Email" placeholder="Email"[(ngModel)]= "usuario.email"></ion-input>
          </ion-item>

          <ion-item> 
            <ion-input type="password" label="Password" placeholder="Constraseña"[(ngModel)]= "usuario.password"></ion-input>
          </ion-item>

        </ion-list>
      
    </ion-label>
  </ion-item>
  <ion-fab  slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click) ="loginUser()">
      <ion-icon   name="bookmark-outline"></ion-icon>
     
    </ion-fab-button>
    
  </ion-fab>
  
</ion-content>
