<app-menu></app-menu>

<ion-content class="ion-page" id="main-content" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header >
    <ion-toolbar collapse="condense">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color ="primary" class="" >
        Topics Sofia Benitez
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <!--
        <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
      --> 
      <ion-item *ngFor="let topico of topicos" >
        
        <ion-label [routerLink]="'/view-topic/' + topico.id" >{{topico.id}} - {{topico.name}} </ion-label>
        <ion-icon   color="success" slot="end" name="pencil-outline" [routerLink]= "'/edit-topic/' + topico.id" ></ion-icon>
        <ion-icon  color="primary" slot="end" name="trash-outline"  (click) ="deleteTopic(topico.id)"></ion-icon>

      </ion-item>
    </ion-list>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button routerLink= "/edit-topic/0">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      
    </ion-fab>
  </ion-content>
  
</ion-content>